.loader {
    border: 12px solid pink;
    border-radius: 50%;
    border-top: 12px solid grey;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}